.rating-info__wrapper {
    display: flex;
    align-items: center;
}

.rating-info__rating {
    margin-right: 10px;
    font-weight: 600;
    font-size: calc( (100vw - 320px)/(1920 - 320) * (36 - 16) + 16px);
}

.rating-info__rating-star {
    display: flex;
}

.star {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 820px) {

    .star {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }

}